appdirs==1.4.3
args==0.1.0
astor==0.5
bleach==3.1.4
clint==0.5.1
html5lib==0.9999999
hy==0.13.0
Markdown==2.6.9
numpy==1.13.3
protobuf==3.4.0
rply==0.7.5
six==1.11.0
tensorflow==2.3.1
tensorflow-tensorboard==0.3.1
Werkzeug==0.15.3
